<div class="cells-inputs-media <%= @args[:class] %>">

  <% if @show_label %>
    <label class="cells-inputs-media__label" for=""><%= @args[:label] %></label>
  <% end %>

  <div class="cells-inputs-media__content">
    <%=raw LatoMedia::Elements::Preview::Cell.new(media: @media, url: '#', onclick: "Media.open('#{@args[:name]}', event);") %>
  </div>

  <% if @show_help %>
    <div class="cells-inputs-media__help"><%= @args[:help] %></div>
  <% end %>

  <!-- Real hidden input -->
  <input type="hidden" name="<%= @args[:name] %>" value="<%= @args[:value] %>">

  <!-- Modal -->
  <%=raw LatoCore::Elements::Modal::Cell.new(id: "#{@args[:name]}-modal",
  title: LANGUAGES[:lato_media][:mixed][:select_media], render: render('./media_modal.html')) %>
</div>