<div class="inputs-media <%= @args[:class] %>" id="inputs-media-<%= @id %>">

  <div class="inputs-media__preview">

    <%=raw LatoMedia::Elements::Preview::Cell.new(media: @media, url: '#',
    onclick: "MediaSelector.open('#{@id}', 1);") %>

  </div>

  <input
    type="hidden"
    value="<%= @args[:value] %>"
    name="<%= @args[:name] %>"
    id="<%= @id %>"
  />

</div>