<% if @args[:url] %>
  <a
    href="<%= @args[:url] %>"
    class="elements-previews <%= @args[:class] %>"
    onclick="<%= @args[:onclick] %>"
    <% if @args[:remote] %>
      data-remote="true"
    <% end %>
  >
<% else %>
  <div
    class="elements-previews <%= @args[:class] %>"
    onclick="<%= @args[:onclick] %>"
  >
<% end %>

  <% if @args[:medias].length > 0 %>

    <div class="elements-previews__list row">

      <% @args[:medias].each do |media| %>

        <%= LatoMedia::Elements::Preview::Cell.new(media: media, size: @args[:size], class: 'xs-6 sm-4 md-3 lg-3') %>

      <% end %>

    </div>

  <% else %>

    <div class="elements-previews__not-found">

      <span><%= LANGUAGES[:lato_media][:mixed][:no_media_to_show] %></span>

    </div>

  <% end %>

<% if @args[:url] %>
  </a>
<% else %>
  </div>
<% end %>