<div class="inputs-gallery inputs__container <%= @args[:class] %>" id="inputs-gallery-<%= @id %>">

  <% # Label from lato_core cells %>
  <% if @show_label %>
    <label
      class="inputs__label"
      for="<%= @args[:name] %>"
    >
      <%= @args[:label] %>
    </label>
  <% end %>

  <div class="inputs-gallery__preview">

    <%=raw LatoMedia::Elements::Previews::Cell.new(medias: @medias, url: '#',
    onclick: "MediaSelector.open('#{@id}', 99, event);") %>

  </div>

  <% # Help from lato_core cells %>
  <% if @show_help %>
    <div
      class="inputs__help"
    >
      <%= @args[:help] %>
    </div>
  <% end %>

  <input
    class="inputs-gallery__input"
    type="hidden"
    value="<%= @value %>"
    name="<%= @args[:name] %>"
    id="<%= @id %>"
  />

  <%= link_to 'load_inputs_gallery_previews', '/lato/media/media_selector/load_inputs_gallery', remote: true, class: 'inputs-gallery__reload' %>

</div>
