<%
  row = cell(:elements, :row).new
  block = cell(:elements, :block).new(class: 'xs-12 sm-12 md-12')
%>

<!-- PRESENTATION -->
<%=raw row.open %>

  <%=raw block.open %>

    <%=raw cell(:elements, :title).new(label: 'Lato Media Documentation') %>

  <%=raw block.close %>

<%=raw row.close %>
<!-- / PRESENTATION -->

<!-- GENERAL SECTION -->
<%=raw row.open %>

  <%=raw block.open %>

    <%=raw cell(:elements, :title).new(label: 'General', size: 2) %>

    <%=raw cell(:elements, :button).new(label: 'Installation', url: lato_media.doc_general_installation_path) %>
    <%=raw cell(:elements, :button).new(label: 'Personalization', url: lato_media.doc_general_personalization_path) %>

  <%=raw block.close %>

<%=raw row.close %>
<!-- / GENERAL SECTION -->

<!-- CELLS SECTION -->
<%=raw row.open %>

  <%=raw block.open %>

    <%=raw cell(:elements, :title).new(label: 'Cells', size: 2) %>

    <p>Cells are object used to create the user interface.</p>

    <%=raw cell(:elements, :title).new(label: 'Elements', size: 4) %>

    <%=raw cell(:elements, :button).new(label: 'Preview', url: lato_media.doc_cells_elements_preview_path) %>
    <%=raw cell(:elements, :button).new(label: 'Previews', url: lato_media.doc_cells_elements_previews_path) %>

    <br><br>
    <%=raw cell(:elements, :title).new(label: 'Inputs', size: 4) %>

    <%=raw cell(:elements, :button).new(label: 'Media', url: lato_media.doc_cells_inputs_media_path) %>
    <%=raw cell(:elements, :button).new(label: 'Gallery', url: lato_media.doc_cells_inputs_gallery_path) %>

  <%=raw block.close %>

<%=raw row.close %>
<!-- / CELLS SECTION -->

<%=raw row.close %>
<!-- / CELLS SECTION -->