<%
  row = cell(:elements, :row).new
  form = cell(:inputs, :form).new(url: url, method: method)
%>

<%=raw form.open %>

  <%=raw row.open %>

    <%=raw cell(:inputs, :text).new(name: 'media[title]', label: LANGUAGES[:lato_media][:forms][:title],
    required: true, class: 'md-12', value: @media.title) %>

  <%=raw row.close %>

  <%=raw row.open %>

    <%=raw cell(:inputs, :textarea).new(name: 'media[description]', label: LANGUAGES[:lato_media][:forms][:description],
    class: 'md-12', value: @media.description) %>

  <%=raw row.close %>

  <%=raw row.open %>

    <%=raw cell(:inputs, :text).new(name: '', label: LANGUAGES[:lato_media][:forms][:url],
    disabled: true, class: 'md-12', value: @media.attachment.url) %>

    <% if @media.image? %>

      <%=raw cell(:inputs, :text).new(name: '', label: LANGUAGES[:lato_media][:forms][:thumb_url],
      disabled: true, class: 'md-4', value: @media.attachment.url(:thumb)) %>

      <%=raw cell(:inputs, :text).new(name: '', label: LANGUAGES[:lato_media][:forms][:medium_url],
      disabled: true, class: 'md-4', value: @media.attachment.url(:medium)) %>

      <%=raw cell(:inputs, :text).new(name: '', label: LANGUAGES[:lato_media][:forms][:large_url],
      disabled: true, class: 'md-4', value: @media.attachment.url(:large)) %>

    <% end %>

  <%=raw row.close %>

  <div class="text-right">

    <%=raw cell(:elements, :button).new(type: 'link', label: LANGUAGES[:lato_media][:mixed][:cancel],
    style: 'danger', icon: 'ban', url: lato_media.medias_path) %>

    <%=raw cell(:elements, :button).new(type: 'submit', label: LANGUAGES[:lato_media][:mixed][:save],
    style: 'success', icon: 'check') %>

  </div>

<%=raw form.close %>