<% if clickable %>

<a class="medias__media <%= sizes %> medias__media--clickable" href="<%= lato_media.media_path(media.id) %>">
  <div class="medias__media-background" style="background-image: url(<%= media.attachment.url %>)"></div>

  <div class="medias__media-title">
    <%= media.title %>
  </div>
</a>

<% else %>

<div class="medias__media <%= sizes %>">
  <div class="medias__media-background" style="background-image: url(<%= media.attachment.url %>)"></div>

  <div class="medias__media-title">
    <%= media.title %>
  </div>
</div>

<% end %>