<a
  class="medias__media <%= sizes %> <% if clickable %>medias__media--clickable<% end %>"
  <% if clickable %>
    href="<%= lato_media.media_path(media.id) %>"
  <% end %>
>
  <% if media.image? %>
    <div class="medias__media-background" style="background-image: url(<%= media.attachment.url(:medium) %>)"></div>
  <% else %>
    <div class="medias__media-icon">
      <%=raw cell(:elements, :icon).new(name: 'file-o') %>
    </div>
  <% end %>

  <div class="medias__media-title">
    <%= media.title %>
  </div>
</a>