var modal = $('#<%= @name %>-modal')

<% # Update medias on index list %>
<% if @medias && !@medias.empty? %>

  var modalIndex = $(modal).find('.cells-inputs-media__media-index')

  $(modalIndex).html('')

  <% @medias.each do |media| %>

    $(modalIndex).append('<div class="cells-inputs-media__media-single xs-12 sm-6 md-3 lg-3" data-media-id="<%= media.id %>" data-media-title="<%= media.title %>" data-media-image="<%= media.image? ? 'true' : 'false' %>" data-media-image-url="<%= media.image? ? media.attachment.url(:medium) : '' %>"><% if media.image? %><div class="cells-inputs-media__media-single-background" style="background-image: url(<%= media.attachment.url(:medium) %>)"></div><% else %><div class="cells-inputs-media__media-single-icon"><i class="fa fa-file-o" aria-hidden="true"></i></div><% end %></div>')

  <% end %>

<% end %>

<% # Update pagination buttons %>
<% if @medias && !@medias.empty? %>

  var modalActions = $(modal).find('.cells-inputs-media__media-actions')

  var prevButton = $(modalActions).children().eq(0)
  $(prevButton).addClass('PORCODIOOOO')
  $(prevButton).find('a').attr('href', '/lato/media/cells/inputs_media_pagination?page=<%= @page - 1 %>&name=<%= @name %>')

  var nextButton = $(modalActions).children().eq(1)
  $(nextButton).addClass('PORCAMADONNAAA')
  $(nextButton).find('a').attr('href', '/lato/media/cells/inputs_media_pagination?page=<%= @page + 1 %>&name=<%= @name %>')
  
<% end %>