<%
  row = cell(:elements, :row).new
  block = cell(:elements, :block).new(class: 'xs-12 sm-12 md-12')
%>

<!-- MAIN CONTAINER -->
<%=raw row.open %>

  <%=raw block.open %>

    <div class="text-right">
      <%=raw cell(:elements, :button).new(label: LANGUAGES[:lato_media][:mixed][:add_media], icon: 'plus',
      onclick: "Modal.open('dropzone-modal', event);") %>
    </div>
    <br>

    <%=raw cell(:elements, :modal).new(id: 'dropzone-modal', title: LANGUAGES[:lato_media][:mixed][:add_media],
    render: render('lato_media/back/medias/shared/dropzone_modal')) %>

    <%= render 'lato_media/back/medias/shared/index' %>
      
  <%=raw block.close %>

<%=raw row.close %>
<!-- / MAIN CONTAINER -->