<%
  row = cell(:elements, :row).new
  block = cell(:elements, :block).new(class: 'xs-12 sm-12 md-12')
%>

<!-- MAIN CONTAINER -->
<%=raw row.open %>

  <%=raw block.open %>

    <div class="text-right">
      <%=raw cell(:elements, :button).new(label: LANGUAGES[:lato_media][:mixed][:add_media], icon: 'plus',
      url: lato_media.new_media_path) %>
    </div>
    <br>

    <div class="medias__medias-container row">
      <% @medias.each do |media| %>

        <%= render 'lato_media/back/medias/shared/media', media: media, sizes: 'xs-12 sm-6 md-3', clickable: true %>

      <% end %>
    </div>
      
  <%=raw block.close %>

<%=raw row.close %>
<!-- / MAIN CONTAINER -->