<% if @args[:url] %>
  <a
    href="<%= @args[:url] %>"
    class="media-elements-preview <%= @args[:class] %>"
    onclick="<%= @args[:onclick] %>"
    <% if @args[:remote] %>
      data-remote="true"
    <% end %>
  >
<% else %>
  <div
    class="media-elements-preview <%= @args[:class] %>"
    onclick="<%= @args[:onclick] %>"
  >
<% end %>

  <% if @args[:media].exists? %>
    <% if @args[:media].image? %>
      <%= render './image.html' %>
    <% else %>
      <%= render './general.html' %>
    <% end %>
  <% else %>
    <%= render './not_found.html' %>
  <% end %>

<% if @args[:url] %>
  </a>
<% else %>
  </div>
<% end %>
