<% if @args[:url] %>
  <a
    href="<%= @args[:url] %>"
    class="elements-preview <%= @args[:class] %>"
    onclick="<%= @args[:onclick] %>"
    data-media-id="<%= @args[:media].id %>"
    <% if @args[:remote] %>
      data-remote="true"
    <% end %>
  >
<% else %>
  <div
    class="elements-preview <%= @args[:class] %>"
    onclick="<%= @args[:onclick] %>"
    data-media-id="<%= @args[:media].id %>"
  >
<% end %>

  <% if @args[:media].exists? %>
    <% if @args[:media].image? %>
      <%= render './image.html' %>
    <% else %>
      <%= render './general.html' %>
    <% end %>
  <% else %>
    <%= render './not_found.html' %>
  <% end %>

<% if @args[:url] %>
  </a>
<% else %>
  </div>
<% end %>

<script>
  MediaHelpers.inputsMediaUpdateActive('<%= @args[:name] %>')
</script>
