<% if @args[:url] %>
  <a href="<%= @args[:url] %>" class="media-elements-preview <%= @args[:class] %>">
<% else %>
  <div class="media-elements-preview <%= @args[:class] %>">
<% end %>

  <% if @args[:media].exists? %>
    <% if @args[:media].image? %>
      <%= render './image.html' %>
    <% else %>
      <%= render './general.html' %>
    <% end %>
  <% else %>
    <%= render './not_found.html' %>
  <% end %>

<% if @args[:url] %>
  </a>
<% else %>
  </div>
<% end %>
